<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dc8065a0-60cf-4fcf-a6ec-f02a97ad6f4b/resourceGroups/NexerGroupIreland/providers/Microsoft.Web/sites/images-web-robert-4653</ResourceId>
    <ResourceGroup>NexerGroupIreland</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://images-web-robert-4653.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c5885fee-0575-429f-98d5-86efc61d87fb</ProjectGuid>
    <PublishUrl>https://images-web-robert-4653.scm.azurewebsites.net/</PublishUrl>
    <UserName>$images-web-robert-4653</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>