<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dc8065a0-60cf-4fcf-a6ec-f02a97ad6f4b/resourceGroups/NexerGroupIreland/providers/Microsoft.Web/sites/image-api-robert-4675</ResourceId>
    <ResourceGroup>NexerGroupIreland</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://image-api-robert-4675.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0f48acb9-b211-41e4-80dc-a4ac9de63248</ProjectGuid>
    <PublishUrl>https://image-api-robert-4675.scm.azurewebsites.net/</PublishUrl>
    <UserName>$image-api-robert-4675</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>